body {
    background-color: #1b1b1b;
    color: #F0F2F2;
    font-family:monospace; 
    text-align: center;
 }
 
 h1 {
     color: #CFF250;
     text-shadow: 0 0 5px #CFF250;
     font-size: 1.5rem;
 }
 
 input {
     background-color: transparent;
     border:1px solid #CFF250;
     border-radius: 20px;
     padding: 10px;
     width: 200px;
     color: #CFF250;
 }
 
 input:focus {
     box-shadow: 0 0 10px #CFF250;
     outline: none;
     transition: 0.5s;
 }
 input:hover {
    box-shadow: 0 0 10px #CFF250;
    transition: 0.5s;
 }
 button {
     background-color: transparent;
     color: #CFF250;
     border: 1px solid #CFF250;
     border-radius: 20px;
     padding: 10px;
     cursor: pointer;
 }
 
 button:hover {
     background-color: #CFF250;
     color: #1b1b1b;
     box-shadow: 0 0 10px #CFF250;
     transition: 0.5s;
 }
 
 a{
     font-size: 1.2rem;
     color: #CFF250;
     text-decoration: none;
 }
 
 ol {
     list-style-position: inside; 
     display: inline-block;
     margin: 20px;
     padding: 0;
 }
 
 ol li {
     text-align: left; 
     margin: 10px; 
     font-size: 1.2rem;
 }
 
 div {
     margin-top: 50px;
 }
 
 .btnOpcion {
     margin: 15px;
 }

 a:hover {
    text-shadow: 0 0 10px #CFF250;
    transition: 0.5s;
 }

 .container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  } 

  .container_escribiendo{
    width:  260px;   
    animation: animacion 1.5s steps(20), transparent .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    color: #CFF250;
    border-right: 3px solid;
  }
  
  @keyframes animacion {
    from {
      width: 0px
    }
  }
      
  @keyframes transparent {
    50% {
      border-color: transparent
    }
  }